<div>
    <h2>Add a Job</h2>
    <form method="POST" action="/jobs/add">
        <input type="text" id="addjob_position" name="position" placeholder="Position" />
        <input type="text" id="addjob_company" name="company" placeholder="Company" />
        <input type="text" id="addjob_location" name="location" placeholder="Location" />
        <input type="text" id="addjob_language" name="language" placeholder="Language" />
        <input type="text" id="addjob_job_id" name="job_id" placeholder="Job ID" />

        <input type="submit" value="Add Job" />
        <input type="button" value="Clear" onClick="clearForm()" />
    </form>
</div>

<div>
    <table>
        <thead>
            <tr>
                        <td>Position<br /><span>Company</span></td>
                        <td>Location</td>
                        <td>Language</td>
                        <td>Job ID</td>
                        <td>Actions</td>
            </tr>
        </thead>
                {{#each jobs}}
                    <tr>
                        <td>{{this.position}}<br /><span>{{this.company}}</span></td>
                        <td>{{this.location}}</td>
                        <td>{{this.language}}</td>
                        <td>{{this.job_id}}</td>
                        <td><a href="/jobs/delete/{{this.job_id}}"><span class="glyphicon glyphicon-remove-circle"></span></td>
                    </tr>
                {{/each}}
    </table>
</div>

<script type="text/javascript">
    function clearForm() {
        document.getElementById("addjob_position").value = "";
        document.getElementById("addjob_company").value = "";
        document.getElementById("addjob_location").value = "";
        document.getElementById("addjob_language").value = "";
        document.getElementById("addjob_job_id").value = "";
    }
</script>